<div class="p-4">
    <a href="/links/admin" class="text-white"><button type="button" class="btn red accent-4"><i
                class="fas fa-arrow-left"></i></button></a>
</div>
<div class="m-3 p-2">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Conductor Denunciado</th>
                <th>Denuncia</th>
            </tr>
        </thead>
        <tbody>
            {{#each denunP}}
            <tr>
                <td>{{idCaso}}</td>
                <td>{{idConductor}}</td>
                <td>{{denuncia}}</td>

            </tr>
            {{else}}
            <h4>No hay Denuncias registrados</h4>
            {{/each}}

        </tbody>
    </table>
</div>